.color-primary{
    color: var(--color-primary);
}
.color-grey-1{
    color: var(--color-grey-1);
}
.color-grey-2{
    color: var(--color-grey-2);
}
.color-grey-4{
    color: var(--color-grey-4);
}
.color-grey-4{
    color: var(--color-grey-4);
}
.bg-color-primary{
    background-color: var(--color-primary);
}
.bg-color-grey-1{
    background-color: var(--color-grey-1);
}
.bg-color-grey-2{
    background-color: var(--color-grey-2);
}
.bg-color-grey-4{
    background-color: var(--color-grey-4);
}
.bg-color-grey-4{
    background-color: var(--color-grey-4);
}