:root{
    --brand1: #1800b2;
    --brand2: #292cfa;
    --brand-transparent: #1800b380;
    --grey1: #212529;
    --grey2: #868E96;
    --grey3: #ADB5BD;
    --grey4: #E9ECEF;
    --grey5: #F1F3F5;
    --grey6: #F8F9FA;
    --color-white: #ffffff;
    --grey-1-transparent: rgba(34, 38, 42, 0.5);
}