.font-title-1{
    font-size: var(--font-title-1);
    font-weight: var(--font-weight-1);
}
.font-title-2{
    font-size: var(--font-title-2);
    font-weight: var(--font-weight-1);
}
.font-title-3{
    font-size: var(--font-title-3);
    font-weight: var(--font-weight-1);
}
.font-title-4{
    font-size: var(--font-title-4);
    font-weight: var(--font-weight-1);
}
.font-text-1{
    font-size: var(--font-text-1);
    font-weight: var(--font-weight-3);
}
.font-text-2{
    font-size: var(--font-text-2);
    font-weight: var(--font-weight-3);
}
.font-text-3{
    font-size: var(--font-text-3);
    font-weight: var(--font-weight-3);
}
a{
    text-decoration: none;
    color: var(--font-text-2)
}