:root {
  --font-title-1: 48px;
  --font-title-2: 38px;
  --font-title-3: 28px;
  --font-title-4: 18px;
  --font-text-1: 16px;
  --font-text-2: 14px;
  --font-text-3: 12px;

  --font-weight-1: 600;
  --font-weight-2: 500;
  --font-weight-3: 400;

  --radius-1: 4px;
  --radius-2: 8px;

  --gap-1: 32px;
  --gap-2: 28px;
  --gap-3: 24px;
  --gap-4: 20px;
  --gap-5: 16px;

  --container-1: 1200px;
  --container-2: 900px;
}

.container {
  max-width: var(--container-1);
  margin: 0 auto;
}