.input__default{
    width: 100%;
    border: none;
    border-radius: var(--radius-1);
    color: var(--brand1);
    background-color: var(--color-white);
    padding: 5px;
    font-size: var(--font-text-1);
}
.input__default:hover{
    background-color: var(--grey6);
    color: var(--brand1)
}

.input__default:focus{
    outline-color: var(--brand2);
}