.modal__backgroud{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--grey-1-transparent);
}

#modal__company{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    gap: 20px;
    padding: 10px;
    border-radius: var(--radius-2);
    background-color: var(--color-white);
}

#modal__company > header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#modal__company > header > h3{
    color: var(--brand1);
}

#modal__company > header > button{
    width: 60px;
}

#modal__company > div{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

#modal__company > div > label{
    color: var(--grey1);
}

#modal__company > div > input{
    border: 1px solid var(--grey3);
    width: 97%;
}